<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <h1>Input your name</h1>
    <form method="get" action="/auth/google">
	    <button type="submit" name="login" value="login">login</button>
    </form>
  </body>
</html>
